.background-img {
    background-image: url("../images/Background.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
img {
    width: 200px;
    position: absolute;
    transition: 1s all linear;
}
